In [1]:
import requests
import pandas as pd
import os

In [2]:
endpoint = 'https://data.lacity.org/resource/2nrs-mtv8.json'

In [3]:
response = requests.get(url=endpoint,
                        headers={"Accept":"application/json",
                                 "X-App-Token":os.getenv('chicago_app_token')},
                        params={'$where':"date_occ between '2022-01-01T00:00:00' and '2022-12-31T23:59:59'",
                                '$limit':'500000'},
                        auth=(os.getenv('chicago_key_id'),os.getenv('chicago_key_secret')))

In [4]:
data = pd.json_normalize(data=response.json())

In [5]:
data.head()

,dr_no,date_rptd,date_occ,time_occ,area,area_name,rpt_dist_no,part_1_2,crm_cd,crm_cd_desc,...,crm_cd_1,location,lat,lon,cross_street,weapon_used_cd,weapon_desc,crm_cd_2,crm_cd_3,crm_cd_4
0,221007028,2022-03-22T00:00:00.000,2022-01-01T00:00:00.000,0435,10,West Valley,1067,2,354,THEFT OF IDENTITY,...,354,5000 GENESTA AV,34.1618,-118.5033,NaN,NaN,NaN,NaN,NaN,NaN
1,220804319,2022-01-09T00:00:00.000,2022-01-01T00:00:00.000,1200,08,West LA,0832,1,310,BURGLARY,...,310,11800 MAYFIELD AV,34.0505,-118.465,NaN,NaN,NaN,NaN,NaN,NaN
2,221804053,2022-01-01T00:00:00.000,2022-01-01T00:00:00.000,2105,18,Southeast,1863,1,330,BURGLARY FROM VEHICLE,...,330,118TH,33.9265,-118.2652,AVALON BL,NaN,NaN,NaN,NaN,NaN
3,230508709,2023-05-13T00:00:00.000,2022-01-01T00:00:00.000,0001,05,Harbor,0513,2,354,THEFT OF IDENTITY,...,354,1200 FLINT DR,33.7868,-118.299,NaN,NaN,NaN,NaN,NaN,NaN
4,231608143,2023-05-11T00:00:00.000,2022-01-01T00:00:00.000,0001,16,Foothill,1641,2,813,CHILD ANNOYING (17YRS & UNDER),...,813,9900 LAUREL CANYON BL,34.2498,-118.4227,NaN,400,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",NaN,NaN,NaN

In [6]:
data.to_csv(path_or_buf='../data/raw/raw_data.csv',
            index=False)